{% set duration = duration|default(0) %}
{% set number = number|default(0) %}

{% set attributes = attributes.setAttribute('data-duration', duration) %}
{% set attributes = attributes.setAttribute('data-number', number) %}

<div{{ attributes.addClass('js-animated-number') }}>
  {{ number }}
</div>
