@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @include media-breakpoint-up($breakpoint) {
    .navbar-expand#{$infix} .d-navbar-none.d#{$infix}-none {
      display: none !important;
    }
  }
}
