.layout-builder-browser-block-item {
  position: relative;
}

.lb-tooltip {
  position: absolute;
  z-index: 1;
  top: -10px;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
  color: white;
  border-radius: 5px;
  background-color: black;
}

.layout-builder-browser-block-item .lb-tooltip img {
  width: 100px;
  margin: auto;
}

.layout-builder-browser-block-item:hover .lb-tooltip {
  opacity: 1;
}
