// Some colors do not pass contrast, so we force text color.

.btn-primary,
.btn-secondary {
  --bs-btn-color: #{$white};
  --bs-btn-disabled-color: #{$white};
}

.btn-primary,
.btn-outline-primary,
.btn-secondary,
.btn-outline-secondary {
  --bs-btn-hover-color: #{$white};
  --bs-btn-active-color: #{$white};
}

.text-bg-primary,
.text-bg-secondary {
  color: #{$white} !important;
}
