{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
{% if page.header_top %}
  {{ include('ui_suite_bootstrap:grid_row_1', {
    container: container,
    col_xs: 12,
    col_1_content: page.header_top,
  }, with_context: false) }}
{% endif %}

{% if page.navigation or page.navigation_collapsible or page.navigation_collapsible_account or page.navigation_collapsible_language %}
  {% if container == 'container' %}
    {% set header_gutter = 'gx-sm-4' %}
  {% elseif container == 'container-sm' %}
    {% set header_gutter = 'gx-sm-4' %}
  {% elseif container == 'container-md' %}
    {% set header_gutter = 'gx-md-4' %}
  {% elseif container == 'container-lg' %}
    {% set header_gutter = 'gx-lg-4' %}
  {% elseif container == 'container-xl' %}
    {% set header_gutter = 'gx-xl-4' %}
  {% elseif container == 'container-xxl' %}
    {% set header_gutter = 'gx-xxl-4' %}
  {% endif %}
  <div class="{{ container }} gx-0 {{ header_gutter }} mb-3">
    {{ include('sobki_theme_bootstrap:navbar', {
      attributes: {
        class: [
          'bg-light',
        ],
      },
      navigation: page.navigation,
      navigation_collapsible: page.navigation_collapsible,
      navigation_collapsible_account: page.navigation_collapsible_account,
      navigation_collapsible_language: page.navigation_collapsible_language,
      variant: 'expand_lg',
      placement: 'default',
      toggle_action: 'collapse',
      toggler_position: 'end',
    }, with_context = false) }}
  </div>
{% endif %}

{% if page.header %}
  {{ include('ui_suite_bootstrap:grid_row_1', {
    container: container,
    col_xs: 12,
    col_attributes: {
      class: [
        'border-bottom',
        'mb-4',
        'pb-1',
      ],
    },
    col_1_content: page.header,
  }, with_context: false) }}
{% endif %}

{% set main_content = [
  page.highlighted,
  page.help,
  {
    '#type': 'html_tag',
    '#tag': 'div',
    '#attributes': {
      'id': 'main-content',
    },
  },
  page.content,
] %}

{% if page.sidebar_first and page.sidebar_second %}
  {{ include('ui_suite_bootstrap:grid_row_3', {
    container: container,
    col_xs: [12, 12, 12],
    col_sm: [3, 6, 3],
    col_1_content: page.sidebar_first,
    col_1_attributes: {
      role: 'complementary',
    },
    col_2_content: main_content,
    col_2_attributes: {
      role: 'main',
    },
    col_3_content: page.sidebar_second,
    col_3_attributes: {
      role: 'complementary',
    },
  }, with_context: false) }}
{% elseif page.sidebar_first and not page.sidebar_second %}
  {{ include('ui_suite_bootstrap:grid_row_2', {
    container: container,
    col_xs: [12, 12],
    col_sm: [3, 9],
    col_1_content: page.sidebar_first,
    col_1_attributes: {
      role: 'complementary',
    },
    col_2_content: main_content,
    col_2_attributes: {
      role: 'main',
    },
  }, with_context: false) }}
{% elseif not page.sidebar_first and page.sidebar_second %}
  {{ include('ui_suite_bootstrap:grid_row_2', {
    container: container,
    col_xs: [12, 12],
    col_sm: [9, 3],
    col_1_content: main_content,
    col_1_attributes: {
      role: 'main',
    },
    col_2_content: page.sidebar_second,
    col_2_attributes: {
      role: 'complementary',
    },
  }, with_context: false) }}
{% else %}
  {{ include('ui_suite_bootstrap:grid_row_1', {
    container: container,
    col_xs: 12,
    col_1_content: main_content,
    col_attributes: {
      role: 'main',
    },
  }, with_context: false) }}
{% endif %}

{% if page.footer %}
  <footer class="border-top mt-3 pt-3 {{ container }}" role="contentinfo">
    {{ page.footer }}
  </footer>
{% endif %}
