{#
/**
 * @file
 * Examples page template, override this in your theme.
 */
#}
{% if examples is not empty %}

  <p>{{ "Below, you will find some examples of the website's design system in use."|t }}</p>
  <hr>

  {# List of available examples with anchor links. #}
  {% for example in examples %}
    <h2><a href="{{ url('ui_examples.single', {'name': example.id}) }}">{{ example.label }}</a></h2>
    {% if example.description %}
      <p>{{ example.description }}</p>
    {% endif %}
    {% if example.render_links %}
      <p>
        {% for link in example.render_links %}
          {{ link|add_class('btn btn-sm btn-primary') }}
        {% endfor %}
      </p>
    {% endif %}
  {% endfor %}
{% endif %}
